.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___info {
  height: 50px;
  width: 160px;
  flex: 1;
  display: flex;
  padding-left: 20%;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ba0303;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  background: #ffdfa7;
  margin: 10px;
  border: 5px solid #ca9650;
}